{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}

<div class="table">
    <table class="table">

     <caption><h3 style="color: white;">Ranking</h3></caption>

      <thead>
        <tr>
          <th>Rank</th>
          <th>Nickname</th>
          <th>Score</th>
          <th>UserID</th>
        </tr>
      </thead>
      <tbody>
        {% for ranking in range(0,rank_cnt) %}
            <tr>
                <th scope="row">{{ ranking|torank }}</th>
                <td>{{ rank[ranking].nickname }}</td>
                <td>{{ rank[ranking].score }}</td>
                <td>@{{ rank[ranking].userid }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

