{% extends "base.html" %}

{% block head %}
    {% if error == 'true' %}
        <script>alert('올바른 인증키가 아닙니다!')</script>
    {% elif error == 'false' %}
        <script>alert('{{ title }} 문제가 인증되었습니다.')</script>
    {% elif error == 'dup' %}
        <script>alert('이미 인증한 문제입니다.')</script>
    {% endif %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                <strong>Key AUTH</strong>
            </h2>
            <hr>
        </div>
        <div style="height: auto; width: 100%;" align="center">
            <form method="post">
              <div class="form-group" style="width: 80%">
                <input name="authkey" type="text" class="form-control" id="AuthKey" placeholder="인증키를 입력하세요">
              </div>
              <button type="submit" class="btn btn-default">인증</button>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


{% endblock %}